<section class="strongholds-management">
  <header class="viewer-header">
    <h2><i class="fas fa-cog"></i> Strongholds Management</h2>
    {{#if isGM}}
    <button type="button" data-action="reload" title="Reload all clients"><i class="fas fa-bolt"></i></button>
    {{/if}}
  </header>

  <p>Manage Strongholds settings here (placeholder).</p>
</section>

